/Tema05 - Conversión/Ejercicios/Formato/ConversionFormatoString/nbproject/private/
/Tema05 - Conversión/Ejercicios/Wrappers/Enteros/PruebasWrappers/build/
/Tema05 - Conversión/Ejercicios/Wrappers/Enteros/PruebasWrappers/nbproject/private/
/Tema05 - Conversión/Ejercicios/Wrappers/Enteros/WrappersEnteros/nbproject/private/
/Tema05 - Conversión/Ejercicios/Wrappers/Enteros/WrappersEnteros/build/
/Tema05 - Conversión/Ejercicios/Formato/ConversionFormatoString/build/
/Tema05 - Conversión/Ejercicios/Formato/ConversionString/nbproject/private/
/Tema05 - Conversión/Ejercicios/Formato/a/nbproject/private/
/Tema05 - Conversión/Ejercicios/Wrappers/NetbeansJavaTemplate/nbproject/private/
/Tema05 - Conversión/Ejercicios/Wrappers/ConversionFormato/nbproject/private/